.title {
    height: 50px;
    background-color: #CEDDD6;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

h2 {
    margin-top: 12px;
    line-height: normal;
    display: inline-block;
    vertical-align: center;
}

.graph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.graph-img {
    max-width: 100%;
}
