.title {
  height: 50px;
  background-color: #bcddce;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

h2 {
  margin-top: 12px;
  line-height: normal;
  display: inline-block;
  vertical-align: center;
}

.graph-container {
  background-color: #bcddce;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 25px 25px -25px;
  border-radius: 10px;
  justify-content: center;
}

.graph-img {
  max-width: 100%;
}

.recommend-text {
  background-color: #bcddce;
  padding: 15px;
}
.chart {
  height: 400px;
}
